version: "3.9"

services:
  web:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app:rw
    depends_on:
      - db

  db:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
